<ion-header>
  <ion-toolbar>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button>c</ion-button>
  <ion-button>/</ion-button>
  <ion-button>x</ion-button>
  <ion-button>B</ion-button>
  <br>
  <ion-button>7</ion-button>
  <ion-button>8</ion-button>
  <ion-button>9</ion-button>
  <ion-button>-</ion-button>
  <br>
  <ion-button>4</ion-button>
  <ion-button>5</ion-button>
  <ion-button>6</ion-button>
  <ion-button>+</ion-button>
  <br>
  <ion-button>1</ion-button>
  <ion-button>2</ion-button>
  <ion-button>3</ion-button>
  <ion-button>=</ion-button>
  <br>

  <ion-button>0</ion-button>
</ion-content>
