<ion-header>
  <ion-toolbar>
    <ion-title>clase6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{ usuario.name }}</ion-label>
      <ion-label>{{ usuario.last_name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
