<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Listado de Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let receta of recetas | async" [routerLink]="['./', receta.id]">
      <div>{{ receta.title }}</div>
      <p>{{ receta.description }} </p>
    </ion-item>
  </ion-list>
</ion-content>
