<ion-header>
  <ion-toolbar>
    <ion-title>calcu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="calcu-container">
  <div>{{ valorActual }}</div>
  <ion-button (click)="agregar('1')">1</ion-button>
  <ion-button (click)="agregar('2')">2</ion-button>
  <ion-button (click)="agregar('3')">3</ion-button>
  <br>
  <ion-button (click)="agregar('4')">4</ion-button>
  <ion-button (click)="agregar('5')">5</ion-button>
  <ion-button (click)="agregar('6')">6</ion-button>
  <br>
  <ion-button (click)="agregar('7')">7</ion-button>
  <ion-button (click)="agregar('8')">8</ion-button>
  <ion-button (click)="agregar('9')">9</ion-button>
  <br>
  <ion-button (click)="agregar('0')">0</ion-button>
  <br>
  <ion-button (click)="operacion('+')">+</ion-button>
  <ion-button (click)="operacion('-')">-</ion-button>
  <ion-button (click)="operacion('*')">*</ion-button>
  <ion-button (click)="operacion('/')">/</ion-button>
  <a href="/clase6">Inicio</a>
</ion-content>
