<ion-header>
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClick()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>  
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-item>
            <ion-label position="floating" >Descripcion</ion-label>
            <ion-textarea row="3" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-item>
            <ion-label position="floating">Imagen</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="imagen"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-item>
            <ion-label position="floating">Ingredientes</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="ingredientes"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ap

          </app-location-picker>
        </ion-col>
      </ion-row>
    </form> 
  </ion-grid>
</ion-content>
