<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/recetas" slot="start"></ion-back-button>
    <ion-title>Detalle: {{ rectaActual.title}}</ion-title>
    <ion-button slot="primary" (click)="deleteReceta()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ rectaActual.title }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <div class="content">{{ rectaActual.description }}</div>
      <ion-list>
        <ion-item *ngFor="let ing of rectaActual.ingredients">
          {{ ing }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
