<ion-header>
  <ion-toolbar color="header-background" >
    <ion-title>Tiliches Jorge</ion-title>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-icon name="add"></ion-icon>
    </ion-fab>
  </ion-toolbar>
</ion-header> 
<ion-content [fullscreen]="true">
  {{ texto }}
  <h2>Articulos destacados</h2>
  <ion-card>
    <ion-header>
      <ion-card-title>
        Lampara de casa
      </ion-card-title>
      <ion-card-subtitle>
        12 000
      </ion-card-subtitle>
    </ion-header>
    <ion-card-content class="ion-alig">
      Descripcion de la lampara
    </ion-card-content>
    <ion-item>
      <ion-label position="inline">Label</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-button fill="outline">
      Comprar <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
